@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 8%;
}
.main h2 {
    text-align: center;
    padding: 10px 0px 20px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.main-topic h3{
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-bottom:  2px solid red;
    border-bottom-width: 5px;
    max-width: 500px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.main-topic p{
    max-width: 550px;
    font-size: 15px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.main-topic button {
    box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  color: #fff;
  margin-top: 5%;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
}

.main-image img{
    width: 650px;
    margin-right: 0.5rem;
}
@media(max-width: 991px){
    .main{
        flex-direction: column;
        justify-content: center;
        margin-top: 8%;
    }
    .main-topic h3 {
        font-size: 20px;
        margin-left: 9rem;
    }
    .main-topic p{
        font-size: 20px;
        margin-left: 9rem;
    }
    .main-topic button {
        font-size: 14px;
        margin-left: 9rem;
    }
    .main-image img{
        margin-top: 5%;
        max-width: 750px;
        margin-right: 0.5rem;
        margin-left: 5rem;
    }
}
@media(max-width: 480px){
    .main{
        flex-direction: column;
        justify-content: center;
        margin-top: 8%;
    }
    .main-topic h3 {
        font-size: 20px;
        margin-left: 3rem;
    }
    .main-topic p{
        font-size: 15px;
        margin-left: 2rem;
    }
    .main-topic button {
        font-size: 14px;
        margin-left: 2rem;
    }
    .main-image img{
        margin-top: 5%;
        max-width: 300px;
        margin-right: 0.5rem;
        margin-left: 2rem;
    }
}
