*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 8%;
}
.main h2 {
    text-align: center;
    padding: 10px 0px 20px;
}
.main-topic h3{
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-bottom:  2px solid red;
    border-bottom-width: 5px;
    max-width: 500px;
}
.main-topic p{
    max-width: 550px;
}
.main-topic button {
    box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  color: #fff;
  margin-top: 5%;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
}

.main-image img{
    width: 650px;
    margin-right: 0.5rem;
}