@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.class-headings h2{
    text-align: center;
    padding: 10px 0px 20px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 8%;
}
.class-headings h4 {
    text-align: center;
    border-bottom-width: 5px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.menu-class{
    display: flex;
    gap: 10rem;
    width: 800px;
    margin-left: 50px;
    margin-top: 5%;
}
.class-img{
    width: 140%;
}
.class-img img {
    max-width: 400px;
    max-height: 200px;
}
.class-img button {
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    padding: 1em 1.8em;
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    color: #fff;
    margin-top: 3%;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
}
.class-img p {
    font-size: 15px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.class-img h3  {
    text-align: center;
    margin: 10px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-bottom: 2px solid red;
    border-bottom-width: 5px;

}
@media(max-width: 991px) {
    .menu-class{
        flex-direction: column;
        justify-content: center;
    }
    .class-img img {
        max-width: 500px;
        max-height: 300px;
        align-items: center;
        margin-left: 8rem;
    }
    .class-headings h3 {
        text-align: center;
        max-width: 400px;
        margin-left: 8rem;
    }
    .class-img p {
        max-width: 300px;
        margin-left: 8rem;
    }
    .class-img button {
        margin-left: 5rem;
    }
}
@media(max-width: 480px) {
    .menu-class{
        flex-direction: column;
        justify-content: center;
    }
    .class-img img {
        max-width: 250px;
        max-height: 300px;
        align-items: center;
       
    }
    .class-headings h3 {
        text-align: center;
        max-width: 200px
    }
    .class-img p {
        max-width: 300px;
  
    }
    .class-headings h4 {
        text-align: center;
    }
    /* .class-img button {
        margin-left: 1rem;
    } */
}