@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Feedback-main {
    text-align: center;
    margin-top: 5%;
    padding: 10px 0px 20px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.swiper{
    margin-top: 5%;
    max-width: 1100px;
    align-items: center;
}
.swiper-slide {
    max-width: 300px;
    max-height: 100%;
    margin-left: 3rem;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.swiper-slide img {
    width: 220px;
    align-items: center;
    margin-left: 2rem;
}

.swiper-slide h3 {
    text-align: center;
}

.swiper-slide p {
    text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
   width: 300px;
   cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 10px; /* Adjusted for better visibility */
    color: #000; /* Ensure the color is set */
    width: 300px;
    cursor: pointer;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 0.1;
    border-radius: 90%;
}
.swiper-pagination-button{
    margin-top: 10%;
    color: #df4881;
}

.btn-Gallery {
    width: fit-content;
    margin: 0 auto;
}

.btn-Gallery button {
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    padding: 20px 100px;
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    color: #fff;
    margin-top: 5%;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.btn-Gallery button:hover {
    cursor: pointer;
    border-radius: 0px;
}
