@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-footer{
    background-color: bisque;
    margin-top: 10%;
    color: #000;
    display: flex;
    justify-content: space-between;
}
.logo-footer{
    margin-left: 12rem;
    display: block;
    margin-top: 5%;
}
.logo-footer img {
    width: 200px;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 20px;
}
.links-page{
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.links-page h2{
    color: #000;
    text-decoration: none;
    padding: 20px 0px 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}
.links-page a {
    color: #000;
    text-decoration: none;
    padding: 20px 0px 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.links-page a:hover{
    color: rgb(250, 10, 158);
    border-top-left-radius: 30px;
}
.contacts-main h2 {
    color: #000;
    text-decoration: none;
    padding: 20px 0px 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.contacts-main{
    margin-top: 5%;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem; 
    font-weight: 500;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.email-container a {
    color: #000;
    text-decoration: none;
    padding: 20px 0px 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* padding: 10px 0px 20px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; */
}
.email-container a:hover{
    color: rgb(250, 10, 158);
    border-top-left-radius: 30px;
}
.Footer-copy {
    background-color: greenyellow;
}
.Footer-copy p {
    gap: 20px;
    font-size: 16px;
    padding: 20px 0px 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media(max-width: 991px) {
    .logo-footer{
        margin-left: 10px;
        display: block;
        margin-top: 5%;
    }
    .logo-footer img {
        width: 130px;
    }
    .social-icons{
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        padding: 15px;
    }
    .links-page h2{
        text-decoration: none;
        padding: 20px 0px 20px;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 20px;
        font-style: normal;
    
    }
}
@media(max-width: 480px){
    .main-footer{
        background-color: bisque;
        margin-top: 10%;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo-footer{
        margin-left: 2rem;
        display: block;
        margin-top: 8%;
    }
    .logo-footer img {
        width: 120px;
    }
    .social-icons{
        display: flex;
        justify-content: center;
        gap: 0.8rem;
        margin-left: -7rem;
        width: 100%;
        padding: 10px;
    }
    .links-page a {
        margin-left: 1rem;
    }
    .links-page h2{
        margin-left: 1rem;
        border-bottom: 3px solid red;
        width: 30%;
    }
    .contacts-main h2 {
        margin-left: 1rem;
        border-bottom: 3px solid red;
        font-size: 20px;
        width: 50%;
    }
    .email-container a {
        margin-left: 1rem;
    }
    .email-container h4 {
        margin-left: 1rem;
    }
    .phones-container h4{
        margin-left: 1rem;
    }
}