@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.Gallery-headings{
    background-color: gray;
    /* background-image: linear-gradient(45deg, #df4881, #c430d7); */
    margin-top: -70px;
}
.Gallery-headings h1 {
    text-align: center;
    margin-top: 5%;
    padding: 10px 0px 20px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-bottom: 2px solid red;
    border-bottom-width: 5px;
    width: 50%;
    margin-left: 20rem;
}
.Gallery-headings h3 {
    text-align: center;
    padding: 10px 0px 20px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.image-grid{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    padding: 0 12px;
  }
  
.image-grid .gallery-grid{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}
.image-grid .gallery-grid:hover{
    opacity: .8;
}
@media (max-width: 991px) {
    .image-grid{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -column-count: 2;
      }
      
@media (max-width: 480px) {
    .image-grid{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
     }
@media (max-width: 320px) {
    .image-grid{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
     }
    }
}}