@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.gallery-container .Gallery-headings {
    background-image: url(/src/Asset/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Adjust to fit container */
    background-position: center; /* Center the image */
    width: 100%;
    max-height: 100%; /* Or use vh for viewport-based height */
    padding: 6rem;
    margin-top: 5%;
  }
  
.Gallery-headings{
    color: #fff
}
.Gallery-headings h1 {
    text-align: center;
    padding: 10px 0px 10px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-bottom: 2px solid greenyellow;
    border-bottom-width: 5px;
    width: 100%;

}
.Gallery-headings h3 {
    text-align: center;
    padding: 10px 0px 20px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}
.image-grid{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    padding: 0 12px;
    margin-top: 2%;
  }
  
.image-grid .gallery-grid{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}
.image-grid .gallery-grid:hover{
    opacity: .8;
}
@media (max-width: 991px) {
    .gallery-container .Gallery-headings{

    }
    .image-grid{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -column-count: 2;
    }
    .Gallery-headings h1 {
        text-align: center;
        width: 100%;
    }
    .Gallery-headings h3 {
        text-align: center;
        font-size: 25px;
    }
      
@media (max-width: 480px) {
    .image-grid{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
     }
     .Gallery-headings h1 {
        text-align: center;
        width: 100%;
    }
    .Gallery-headings h3 {
        text-align: center;
        font-size: 25px;
    }
@media (max-width: 320px) {
    .image-grid{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
     }
     .Gallery-headings h1 {
        text-align: center;
        width: 100%;
    }
    .Gallery-headings h3 {
        text-align: center;
        font-size: 25px;
    }
    }
}}